
/* ==========================================================================
responsive
========================================================================== */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .slider_content_wrapper .owl-dots{
    margin-left: -500px;
  }
  .common-menu .common-menu-wrap .nav>li>a {
    font-size: 12px;
  }
  .common-menu-wrap .nav>li {
    margin-right: 0;
  }
  .elementor-widget-tabs .themeum-nav-wrapper .elementor-tab-desktop-title {
        padding: 25px 40px;
  }
  .testimonial_content_wrapper .slick-next {
    margin-right: 0;
  }
  .testimonial_content_wrapper .slick-prev {
    margin-left: 0;
  }

}

@media (max-width: 1300px){

  .thm-portfolio-slider .owl-arrow{
    left: 0;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 15px;
  }
  .thm-portfolio-slider .owl-arrow.owlNext{
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1000px){
  .admin-bar .header-borderimage #mobile-menu,
  .admin-bar .header-solid #mobile-menu {
    top: 100%;
  }
  .navbar-collapse.collapse {
    display: none !important;
    overflow: hidden !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .visible-sm {
    display: block!important;
  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0
  }
  #mobile-menu ul {
    padding: 0;
  }
  .header-borderimage #mobile-menu,
  .header-solid #mobile-menu {
    top: 100%;
  }
  .navbar-toggle {
    display: inline-block;
  }
   .overlay-btn {
      font-size: 12px;
      padding: 6px 12px;
      margin-top: 0px;
  }
  .elementor-widget-tabs .themeum-nav-wrapper .elementor-tab-desktop-title {
    padding: 12px 20px;
    font-size: 14px;
  }

}
@media only screen and (max-width: 992px) {
    .wp-megamenu-wrap .wpmm-nav-wrap > ul > li, .common-menu-wrap .nav>li{
        padding: 0;
    }
  .justify-content-center.slick-slide{
    padding: 0 30px;
  }
  .subtitle-cover{
    /* padding: 170px 0 50px 0 !important; */
  }
  .page-subleading{
    font-size: 40px;
    line-height: 45px;
  }
    .thm-fullscreen-search form{
        width: 70%;
    }
  .testimonial_content_wrapper .slick-next {
    margin-right: 0;
  }
  .testimonial_content_wrapper .slick-prev {
    margin-left: 0;
  }
  .slider-single-wrapper {
    height: auto !important;
  }
  .navbar-collapse.collapse.show {
    display: block !important;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-toggle {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    outline: none;
    right: 0;
    font-size: 22px;
    padding-left: 15px;
  }
  .mobile-register {
    text-align: right;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav > li {
    float: none;
  }
  /* Campaign */
  .calypso-tab-slider .elementor-tab-title {
      line-height: 22px !important;
  }
  .main-menu-wrap .navbar-toggle {
    color: #fff;
    transition: 400ms;
    -webkit-transition: 400ms;
  }
  .default-postbox-col .thm-default-postbox::before,
  .default-postbox-col .thm-default-postbox::after{
    opacity: 0 !important;
  }
}

@media (max-width: 767px) {
  .aside.widget-area{
    margin-top: 20px;
  }
  .countdown-section{
    display: inline-block;
  }
  #comingsoon-countdown{
    text-align: center;
  }
  .thm-gmap-contact-info{
    position: static;
    width: 100%;
    margin-top: 20px;
    transform: translateX(0)
  }
  div.woocommerce .col2-set .col-1, div.woocommerce-page .col2-set .col-1, div.woocommerce .col2-set .col-2, div.woocommerce-page .col2-set .col-2{
    width: 100% !important;
    display: block;
    max-width: 100% !important;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 50% !important;
}
  .header-cat-menu{
    padding-left: 0;
  }
  .modal .modal-title{
    font-size: 40px;
  }
  .modal .modal-header{
    padding: 30px 30px 0px 30px
  }
  .modal .modal-body{
    padding: 0px 30px 30px 30px
  }
  .subtitle-cover{
    /* padding: 170px 0 50px 0 !important; */
  }
  .page-subleading{
    font-size: 35px;
    line-height: 40px;
  }

  .thm-portfolio-slider .owl-arrow{
    left: 0;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 15px;
  }
  .thm-portfolio-slider .owl-arrow.owlNext{
    right: 0;
  }
.error-title{
    font-size: 30px;
}

.elementor-widget-tabs .elementor-tab-title.active {
    color: #61ce70;
    padding: 35px 70px;
    text-align: center;
    color: #222538;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 21px;
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #50a2ff;
    color: #fff !important;
    border-bottom: none !important;
    margin-left: 0;
}
.elementor-widget-tabs .elementor-tab-title.active:after {
    content: "";
    left: 50% !important;
    bottom: -20px !important;
    position: absolute;
    border-width: 10px 9px;
    border-style: solid;
    width: 0 !important;
    display: inline-block;
    right: auto;
    border-color: #50a2ff transparent transparent transparent;
}
.elementor-widget-tabs .elementor-tab-title {
    padding: 35px 70px !important;
    border-bottom: 2px solid #222538 !important;
    text-align: center;
    color: #222538 !important;
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 21px;
    margin-left: 25px;
    position: relative;
    margin-bottom: 10px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
        margin-left: 0;
}
.elementor-tabs .elementor-tabs-content-wrapper {
    border-bottom-style: none !important;
}



  /*slider*/
  .classic-slider.layout1 .classic-slider-subtitle {
    line-height: 120px;
  }
  .client-info {
      padding: 0 22px 25px;
  }
  .backer-contact {
      margin: 0;
  }
  .themeum-product-slider .slick-next,
  .themeum-product-slider .slick-prev {
    top: 50%;
  }
  #mobile-menu ul {
    padding: 0;
  }
  .header-borderimage #mobile-menu,
  .header-solid #mobile-menu {
      top: 100%;
  }
  .calypso-post .post-featured-img {
    width: 100%;
  }
  .themeum-campaign-post .review-item-image img {
    width: 100%;
  }
  .entry-summary .wrap-btn-style a.btn-style {
    float: none;
  }
  .social-share-wrap {
    text-align: left;
  }
  .bottom-widget h3{
    margin-bottom: 25px;
  }
  .bottom-widget{
    width: 100%;
  }
  .mc4wp-form-fields input[type="email"]{
    display: block;
    width: 100%;
    float: none;
  }
  .mc4wp-form-fields input[type=submit]{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .top-search-input-wrap .search-wrap .search.calypso-top-search {
    width: 70%;
  }
  .themeum-google-map-wrap .map-address {
    padding: 30px 35px;
    top: 18%;
    left: 8%;
  }
 .bottom-widget{
    width: 100%;
    text-align: center;
  }
  .widget.widget_themeum_social_share_widget .themeum-social-share{
    text-align: center;
  }
  .widget.widget_themeum_about_widget .themeum-about-info li span.themeum-widget-address{
    position: static;
  }
  .bottom-widget .mc4wp-form input[type="submit"]{
    float: none;
    margin: 0 auto;
  }
  .footer-copyright, .template-credit{
    text-align: center;
  }
  .demo-four .mc4wp-form-fields input[type="email"] {
    margin-right: 20px;
  }
  #tixon-comingsoon {
    padding-left: 15px;
    padding-top: 50px;
  }
  .comingsoon-content .comingsoon-title {
    font-size: 48px;
    line-height: 48px;
  }
  .comingsoon-footer .social-share {
    text-align: left;
  }
  /* Campaign Categories */
  .elementor-widget-thm-campaign-dynamic .col-3 {
    -ms-flex: 0 0 25%;
    flex: inherit;
    max-width: 50%;
    display: inline-block;
    overflow: hidden;
    width: 50%;
  }
  /* Popular Campaigns */
  .elementor-widget-container .col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .textwidget .mc4wp-form-fields .send-arrow input[type="email"] {
      display: inline-block;
  }
  .calypso-contact {
      padding: 80px 14px;
  }
  .calypso-contact .col-md-4{
      padding-bottom: 14px;
  }
  .calypso-contact textarea {
      margin-top: 0;
  }

  .comingsoon-content {
      padding: 0;
  }
  section.comingsoonpage-footer {
    padding: 85px 20px;
  }
  .comingsoonpage-footer .mc4wp-form-fields input[type="email"] {
      display: inline-block;
      width: 84%;
      height: 40px;
      float: none;
  }
  .comingsoonpage-footer .social-share ul {
      text-align: center;
  }
  .elementor-shape-rounded .elementor-icon.elementor-social-icon {
      margin-bottom: 5px !important;
  }
  #sidebar.col-3 {
      flex: 100%;
      max-width: 100%;
      padding: 0 20px;
  }
  table.stripe-table {
      table-layout: inherit;
  }
  .calypso-tab-slider .elementor-tab-mobile-title {
      padding: 20px 11px !important;
      line-height: 10px !important;
  }
  .calypso-tabslider-title {
      display: none;
  }
  .calypso-tab-slider .elementor-tab-content {
      padding-bottom: 40px !important;
      padding-left: 35px !important;
  }
  .themeum-product-slider .slick-next, .themeum-product-slider .slick-prev {
      background: #dedede;
      color: rgba(0, 0, 0, 0.34);
      top: 50%;
  }

  /* Blog Homepage widgets */
  .blog-details-img img{
      width: 100%;
  }
  .blog-post-item-col.col-6 {
      margin-bottom: 30px;
      max-width: 100%;
      width: 100%;
      flex: 100%;
  }
  .portfolio-items.col-3, .portfolio-items.col-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
 .overlay-btn {
    font-size: 12px;
    padding: 6px 12px;
    margin-top: 0px;
}

/* Megamenu */
.fullwidth {
    position: relative;
    display: block;
    overflow: hidden;
}
.logged-in.admin-bar header.site-header {
    top: 0;
}
.thm-logo-col.text-center {
    text-align: left !important;
}
.col.text-right.col-lg-auto.thm-icon-col {
    top: 25px;
    position: absolute;
    right: 20px;
}
#wp-megamenu-primary {
    padding-right: 7px;
}
.wpmm_mobile_menu_btn i {
    font-size: 20px;
    padding-top: 4px;
}
.col.common-menu.d-flex.jusitify-content-center {
    position: absolute;
    right: 6px;
    top: 50px;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu:hover > ul.wp-megamenu-sub-menu {
    box-shadow: none;
}
#wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu {
    width: inherit !important;
    left: 0 !important;
}
#wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu {
    top: 103%;
    border-radius: 3px !important;
    background: #fff;
    box-shadow: none;
}
.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul li {
    width: 100%;
    display: block;
    text-align: center;
}
.col-auto.thm-cat-col {
    position: absolute;
    top: 72px;
    z-index: 99999;
}







}

@media (min-width: 992px){
  .navbar-nav {
    float: none;
    margin: 0;
  }
  .navbar-nav>li {
    float: none;
  }
  .calypso-contact {
      padding: 52px;
  }
  .elementor-slick-slider .slick-prev {
      left: 0 !important;
  }
  .elementor-slick-slider .slick-next {
      right: 0 !important;
  }
  .elementor-slick-slider .slick-next {
      right: inherit;
  }
}

@media (max-width: 489px) {

  .thm-cart-icon .woocommerce.widget_shopping_cart{
    right: -30px;
    width: 260px;
  }
  .subtitle-cover .subtitle{
    font-size: 30px !important;
  }

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 100% !important;
}
  .thm-portfolio-slider .owl-arrow{
    left: 0;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 15px;
  }
  .thm-portfolio-slider .owl-arrow.owlNext{
    right: 0;
  }
    .thm-fullscreen-search form{
        width: 85%;
    }
  #sidebar.col-4 {
      max-width: 100%;
      flex: 100%;
  }
  .separator-wrapper {
      padding: 0 30px;
  }
  .elementor-slick-slider .slick-slider .slick-prev {
      left: 0;
  }
  .elementor-slick-slider .slick-slider .slick-next{
    right: 0;
  }
  .slider-button-2 {
      border: 1px solid #B0BFD1;
  }
  .title-number-wrap {
    padding-left: 0;
  }

  .social-share, .copy-wrapper {
    margin-bottom: 15px;
    text-align: center;
  }
  .social-share, .copy-wrapper {
    padding-top: 8px;
  }
  .classic-slider.layout2 .classic-slider-subtitle {
      font-size: 60px;
  }
  /* Popular Campaigns */
  .elementor-widget-container .col-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  .bottom-widget .textwidget .mc4wp-form-fields .send-arrow input[type="email"] {
      display: inline-block;
  }
  .comingsoon .mc4wp-form-fields {
      width: 100%;
  }
}
