/*
 _____ _                                         
|_   _| |__   ___ _ __ ___   ___ _   _ _ __ ___  
  | | | '_ \ / _ \ '_ ` _ \ / _ \ | | | '_ ` _ \ 
  | | | | | |  __/ | | | | |  __/ |_| | | | | | |
  |_| |_| |_|\___|_| |_| |_|\___|\__,_|_| |_| |_|

*  --------------------------------------
*         Table of Content
*  --------------------------------------
*   1. Product page  
*   2. Cart Page
*   3. Magnifitpopup
*   4. WooCommerce Sidebar Widgets
*  -------------------------------------- 
*  -------------------------------------- */

/* -------------------------------------- *
*           1. Product page               *
* --------------------------------------- */
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size: 16px;
}
.woocommerce textarea {
    display: inline;
}
.woocommerce input[type="text"],
.woocommerce input[type="password"],
.woocommerce input[type="email"] {
    width: 88%;
    background: transparent;
    color: #959595;
    padding: 12px;
    border: 1px solid #ccc !important;
}
.woocommerce #respond .comment-form-author label,
.woocommerce #respond .comment-form-email label,
.woocommerce #respond .comment-form-url label,
.woocommerce #respond .comment-form-comment label {
    background: transparent;
    display: inline-block;
    min-width: 60px;
    padding: 10px 0;
    top: 0px;
    z-index: 1;
    font-weight: 400;
}
.woocommerce #respond .comment-form-author .required,
.woocommerce #respond .comment-form-email .required {
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: auto;
    top: 10px;
    color: #fff;
}
.commentlist strong {
    font-weight: 500;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background-color: #959595;
    color: #fff;
    border: 0;
    padding: 16px 42px;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: auto;
    display: block;
}
.woocommerce #review_form #respond textarea {
    box-sizing: border-box;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    padding: 6px;
    border-color: #ccc;
}
.woocommerce .product .product-thumbnail-outer {
    transition: .4s;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.product-thumbnail-outer:hover .product-content-wrapper {
    background: #ff025a;
}
.woocommerce .product .product-thumbnail-outer .product-content-wrapper a h2 {
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    color: #212121;
    text-transform: uppercase;
    transition: .3s;
    padding: 8px 0;
}
.woocommerce .product-thumbnail-outer:hover .product-content-wrapper a h2 {
    color: #fff !important;
}


.woocommerce ul.products li.product .product-thumbnail-outer .price del {
    margin-right: 6px;
    display: inline-block;
}
.woocommerce ul.products li.product .price {
    line-height: 10px;
    transition: .3s;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 300;
    color: #212121;
}
.woocommerce ul.products li.product .price ins {
    background: 0 0;
    display: inline-block;
    line-height: 10px;
    transition: .5s;
    opacity: 1;
    font-weight: 400;
    color: #212121;
}
.woocommerce ul.products li.product .product-thumbnail-outer:hover .product-content-wrapper a h2,
.woocommerce ul.products li.product .product-thumbnail-outer:hover .product-content-wrapper .price,
.woocommerce ul.products li.product .product-thumbnail-outer:hover .price ins {
    color: #fff;
    opacity: 1;
}





.product-thumbnail-outer .product-thumbnail-outer-inner:before {
    content: "";
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    visibility: hidden;
    width: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner:before {
    opacity: .65;
    visibility: visible;
}
.woocommerce ul.products li.product .onsale {
    border-radius: 0px 10px;
    line-height: normal;
    top: 0px;
    left: auto;
    right: 0px;
    margin: 0;
    min-height: auto;
    min-width: auto;
    padding: 8px 18px;
    background: #ff025a;
}
.woocommerce .product-thumbnail-outer-inner .addtocart-btn a.button:hover {
    color: #ff0464;
}
.woocommerce .product-thumbnail-outer-inner .addtocart-btn a.button {
    bottom: auto;
    margin: auto;
    opacity: 0;
    padding: 14px 0;
    position: absolute;
    right: 0;
    top: 180px;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    visibility: hidden;
    width: 140px;
    border-radius: 4px;
    clear: both;
    color: #000;
    display: table;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}
.woocommerce a.added_to_cart {
    bottom: auto;
    left: 2px;
    margin: auto;
    opacity: 0;
    padding: 6px 0;
    position: absolute;
    right: 0;
    top: 196px;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    visibility: hidden;
    width: 140px;
    background: #fff;
    border-radius: 4px;
    clear: both;
    color: #fff;
    display: table;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner .addtocart-btn a.added_to_cart {
    visibility: visible;
    opacity: 1;
}
.product-content-wrapper {
    padding: 12px 20px 14px;
    transition: .4s;
    position: relative;
}
.woocommerce .product-thumbnail-outer:hover .product-content-wrapper a {
    color: #fff;
}
.product-thumbnail-outer:hover .product-content-wrapper {
    color: #333;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.woocommerce ul.products li.product .entry-title a{
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    font-family: "Open Sans", Sans-serif;
    font-weight: 600;
}
.woocommerce ul.products li.product a img {
    margin: 0;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner .addtocart-btn a.button {
    visibility: visible;
    opacity: 1;
    top: 137px;
}
.product-thumbnail-outer .product-thumbnail-outer-inner img,
.product-img img {
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
    width: 100%;
}
.woocommerce .product-thumbnail-outer .added_to_cart {
    margin-top: 52px;
    padding: 10px 32px;
}
.woocommerce .product-thumbnail-outer .button.add_to_cart_button {
    border-radius: 35px;
    line-height: inherit;
    background: #ffffff;
    border-color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    padding: 10px 32px;
}
.woocommerce .product-thumbnail-outer .added_to_cart {
    border-radius: 4px;
    line-height: inherit;
    position: absolute;
    top: 44%;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    padding: 14px 0;
    color: #212121;
}
.woocommerce .product-thumbnail-outer .added_to_cart:hover {
    color: #ff0464;
}
.woocommerce .product-thumbnail-outer:hover .button.add_to_cart_button,
.woocommerce .product-thumbnail-outer:hover .added_to_cart {
    opacity: 1;
}
.woocommerce .product-thumbnail-outer .onsale {
    z-index: 1;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: 30.75%;
    margin-bottom: 25px;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    color: #393939;
}
.archive.woocommerce .woocommerce-ordering,
.archive.woocommerce .woocommerce-result-count {
    margin: 0 0 30px;
    display: none;
}
.woocommerce .woocommerce-result-count {
    margin-top: 10px;
    font-size: 16px;
}
.woocommerce .woocommerce-ordering select {
    color: #4c4c4c;
    font-weight: 300;
    padding: 10px 15px;
    height: 42px;
    border: 2px solid #e7e7e7;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 30px;
    margin-left: 0;
    margin-right: -20px;
}
.woocommerce-tabs p {
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.75;
    color: #212121;
}
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text {
    padding: 12px;
    border: 1px solid #f9f9f9;
    color: #212121;
    background: #fff;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    width: 100%;
}
.woocommerce div.product form.cart div.quantity {
    float: left;
    width: 88px;
    display: inline-block;
}
.single_add_to_cart_button.button.alt {
    margin-top: -5px;
}
.woocommerce-billing-fields span.woocommerce-input-wrapper, span.woocommerce-input-wrapper {
    width: 100%;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #ff007a;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: none;
}
.woocommerce .cart .button,
.woocommerce .cart input.button {
    color: #fff;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 5px;
}
.cart_totals table tr th {
    border: none;
}
.product_meta span.sku_wrapper {
    padding-right: 10px;
}
.woocommerce .products .product {
    width: 33.3333%;
    display: inline-block;
    float: left;
    list-style: none;
    margin-bottom: 20px;
}
.product-content-inner h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}
.woocommerce .products .star-rating {
    display: none;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    width: 29.5%;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: left;
    margin-right: 10px;
    margin-left: 0;
}
#sidebar .woocommerce ul.product_list_widget li {
    padding: 10px 0;
}
.woocommerce ul.product_list_widget li a {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #212121;
    padding: 0;
    border: none;
}
aside.widget-area .widget:last-child {
    margin-bottom: 60px;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    border-radius: 2px;
    padding: 10px;
    min-height: 38px;
}
.woocommerce table.shop_table {
    border: none;
    background: #fff;
    border-radius: 3px;
}
.woocommerce-cart-form table tr th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid rgba(221, 221, 221, 0);
    border-top: none;
    border-left: 1px solid transparent;
}
.woocommerce table.shop_table td {
    border-top: 1px solid #f2f2f2;
}
.woocommerce table.shop_table td {
    padding: 15px 20px;
}
.woocommerce table.shop_table td a {
    color: #a9a2a2;
    font-size: 16px;
    font-weight: 400;
}
.woocommerce a.remove {
    color: #a9a2a2 !important;
}
.cart_totals.calculated_shipping h2 {
    font-size: 24px;
    text-transform: uppercase;
}
#add_payment_method #payment,
.woocommerce-checkout #payment {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.woocommerce-cart table.cart th {
    padding: 25px 0px 25px 20px;
}
.row.woo-products {
    margin: 0 0 30px;
}
form.cart-table {
    margin: 0 0 60px;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    margin: 20px 0 60px;
}
.woocommerce .col-1.address {
    margin-bottom: 100px;
}
.woocommerce .woocommerce-info {
    background: #ff007a;
    border-top: 0;
    color: #fff;
    font-size: 14px;
}
.widget.woocommerce ul li a:hover {
    padding-right: 0;
}
.widget.woocommerce ul li a:before {
    display: none;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    width: 60px;
}
.woocommerce h1.page-title {
    display: none;
}
.woocommerce div.product {
    margin-bottom: 20px;
}
.product-content-inner {
    text-align: center;
}
.product-content-inner h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}
.product-thumbnail-outer-inner {
    position: relative;
    text-align: center;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner .addtocart-btn a.button {
    visibility: visible;
    opacity: 1;
    top: 52%;
    margin: 0 auto;
}
.product-thumbnail-outer .product-thumbnail-outer-inner img,
.product-img img {
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
}
.product-content-inner h3 a {
    color: #000;
}
.woocommerce div.product .product-content-inner .price {
    color: #a1a198;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}
.woocommerce div.product span.onsale {
    min-height: 32px;
    min-width: 72px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 0;
    right: 15px;
    margin: 0;
    background-color: #ff007a;
    color: #fff;
    font-size: .857em;
    -webkit-font-smoothing: antialiased;
    z-index: 77;
    left: auto;
    border-radius: 0 10px;
}
.woocommerce-message::before {
    color: #ff007a;
}
.woocommerce-message {
    border-top-color: #ff007a;
}
.woo-products .woocommerce-ordering {
    display: none;
}
.woo-products .site-content h1.page-title {
    display: none;
}
.woo-products .woocommerce-result-count {
    display: none;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    width: 100%;
    float: none;
}
.woocommerce div.product .product_title {
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.woocommerce-product-details__short-description p {
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.75;
    color: #212121;
}
.woocommerce-review-link {
    color: #9C9C9C;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 20px;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff025a;
}
.product_meta {
    margin-bottom: 25px;
    margin-top: 30px;
}
.product_meta .posted_in {
    font-weight: 400;
    padding-right: 10px;
}
.product_meta span.tagged_as a {
    font-weight: 600;
}
.product_meta .sku_wrapper span.sku {
    color: #ff007a;
    font-weight: 600;
    text-transform: uppercase;
}
.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
    margin-top: 35px;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #d40e15;
    color: #fff;
}
.woocommerce div.product form.cart div.quantity {
    float: none;
    font-size: 1px;
}
.quantity .btn-minus {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 50px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    background: transparent;
    border-right: 0;
}
.quantity .btn-plus {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 50px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    background: transparent;
    border-left: 0;
}
.quantity .input-text.qty.text {
    display: inline-block;
    line-height: 32px;
    min-height: 46px;
    width: 82px;
    padding: 0;
    color: rgba(51, 51, 51, 0.8);
    font-size: 14px;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    background: #fff;
    font-weight: 400;
}
.woocommerce form .woocommerce-form__label.checkbox span {
    padding-left: 20px;
}
.woocommerce form .form-row .input-checkbox {
    display: inline;
    margin: 8px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
.related.products {
    margin-top: 70px;
    margin-bottom: 60px;
}
.woocommerce .related ul.products li.product{
    width: 22%;
    margin-right: 4%;
}
.related.products ul.products.clearfix li:last-child {
    margin: 0;
}
.woocommerce-tabs .nav-tabs {
    border: none;
    text-transform: uppercase;
}
.woocommerce-tabs .nav-tabs>li a {
    padding: 22px 30px;
    background: #fff;
}
.woocommerce-tabs .nav-tabs>li.active a, .woocommerce-tabs .nav-tabs>li.active a:hover {
    background: #ff0464;
}
.woocommerce-tabs ul.nav.nav-tabs li:first-child a{
    border-radius: 10px 0 0 10px;
}
.woocommerce-tabs ul.nav.nav-tabs li:last-child a{
    border-radius: 0px 10px 10px 0px;
}
.woocommerce-tabs .nav-tabs>li a.active, .woocommerce-tabs .nav-tabs>li a.active:hover{
    background-color: #ff0464;
    color: #fff;
}
.woocommerce-tabs .nav-tabs>li>a.active:before {
    content: "";
    position: absolute;
    left: 28%;
    bottom: -20px;
    border-width: 12px 12px;
    margin-left: -6px;
    border-style: solid;
    border-color: #ff0464 rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) rgba(255, 255, 0, 0);
    opacity: 0;
    -webkit-transition: 350ms ease-in;
    -moz-transition: 350ms ease-in;
    transition: 350ms ease-in;
}
/*.woocommerce-tabs ul.nav.nav-tabs li {
    background-color: #ffffff;
    padding: 22px;
}
.woocommerce-tabs ul.nav.nav-tabs li.active {
    background-color: #ff007a;
}
.woocommerce-tabs ul.nav.nav-tabs li.active a{
    color: #fff;
}
.woocommerce-tabs ul.nav.nav-tabs li:first-child {
    border-radius: 10px 0 0 10px;
}
.woocommerce-tabs ul.nav.nav-tabs li:last-child {
    border-radius: 0px 10px 10px 0px;
}*/
.woocommerce-tabs .nav-tabs>li {
    margin-bottom: 0;
    list-style: none;
    display: inline-block;
}
.woocommerce-tabs .nav-tabs>li>a {
    position: relative;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #212121;
}
.woocommerce-tabs .nav-tabs>li>a:before {
    content: "";
    position: absolute;
    left: 28%;
    bottom: -20px;
    border-width: 12px 12px;
    margin-left: -6px;
    border-style: solid;
    border-color: #ff0385 rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) rgba(255, 255, 0, 0);
    opacity: 0;
    -webkit-transition: 350ms ease-in;
    -moz-transition: 350ms ease-in;
    transition: 350ms ease-in;
}
.woocommerce-tabs .nav-tabs>li.active>a,
.woocommerce-tabs .nav-tabs>li.active>a:focus,
.woocommerce-tabs .nav-tabs>li.active>a:hover {
    border: none;
    color: #fff;
    cursor: default;
    border-bottom-color: transparent;
}
.woocommerce-tabs .tab-pane.in {
    opacity: 1;
}
.woocommerce-tabs .nav-tabs>li.active>a:before {
    opacity: 1;
    bottom: -24px;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    font-size: 14px;
    font-weight: 400;
}
.woocommerce div#comments {
    background: transparent;
    margin: 0;
    padding: 20px;
}
.woocommerce-tabs .nav>li>a.active:before{
    opacity: 1;
    bottom: -24px;
}
.upsells.products h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 40px 0 20px;
}
.woocommerce-tabs .tab-content h2 {
    display: none;
}
.woocommerce-tabs .tab-content {
    margin-top: 70px;
}
.related.products .related-title {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    color: #212121;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 140px;
    border: none;
    border-radius: 0px;
    padding: 30px;
    background: #fff;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    width: 100px;
    height: auto;
    margin: 0;
    box-shadow: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0;
}
.woocommerce .commentlist strong {
    font-weight: 500;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #212121;
}
.woocommerce #respond label {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 11px;
    width: auto;
    padding-right: 10px;
}
.woocommerce .comment-reply-title, .woocommerce #reply-title {
    color: rgba(51, 51, 51, 0.81);
    margin: 19px 0 35px;
    padding-bottom: 30px;
    font-weight: 400;
    line-height: 52px;
    border: none;
}
.woocommerce #respond p {
    font-size: 16px;
    font-weight: bold;
}







/* --------------------------------- *
*           2. Cart page                *
* --------------------------------- */
.woocommerce a.remove {
    width: auto;
    height: auto;
    border-radius: 0;
    font-size: 18px;
}
.woocommerce a.remove:hover {
    background: transparent;
    color: #ff007a !important;
}
.woocommerce div.product form.cart .variations label {
    color: #000;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    border-top: none;
    line-height: 28px;
    border-radius: 3px;
    background: #fff;
    color: #212121;
}
.woocommerce .woocommerce-info {
    margin-bottom: 60px;
}
.wpneo_login_form_div {
    margin-bottom: 60px;
}
.woocommerce .woocommerce-message {
    padding: 13px 16px 11px 44px;
}
.woocommerce-checkout #payment ul.payment_methods li img {
    margin: -2px .5em 0 .5em;
}
.woocommerce .price_slider_amount button.button {
    padding: 8px 16px;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    color: #fff;
}
.woocommerce-cart table.cart img {
    width: 50px;
    border-radius: 4px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    height: 38px;
}
.woocommerce table.shop_table td {
    font-size: 14px;
    font-weight: 400;
}
.woocommerce-page table.cart td.actions {
    padding: 25px;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 150px;
    line-height: 22px;
    min-height: 22px;
    padding: 0 10px;
    font-weight: 300;
    border: 1px solid rgba(221, 221, 221, 0.63);
    margin-right: 14px;
}
.woocommerce .cart_totals h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.woocommerce-checkout #payment div.payment_box {
    background: #f5f5f5;
}
.woocommerce-checkout #payment div.payment_box:before {
    border: 1em solid #f5f5f5;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.woocommerce-checkout #payment div.form-row {
    padding: 1em 0;
}
.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
    padding-right: 0;
    border-left: 0;
}
.woocommerce ul.product_list_widget li dl.variation {
    display: none;
}
.woocommerce.widget_shopping_cart .total {
    padding-top: 12px;
}
.woocommerce-checkout #payment ul.payment_methods {
    padding: 20px 0;
    border: none;
}
.woocommerce table.shop_table th {
    padding: 18px 15px 14px;
    font-weight: 400;
}
.woocommerce table tr td {
    padding: 8px;
    border-right: 1px solid #ddd;
    border-left: none;
    border-bottom: none;
}
#order_review_heading {
    padding: 20px 0;
}
.woocommerce form .form-row.woocommerce-invalid label {
    color: #212121;
}
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: rgba(149, 149, 149, 0.49);
    color: rgba(33, 33, 33, 0.7);
}
.woocommerce-checkout-review-order table tr th, table tr td {
    border: none;
    border-right: 1px solid rgba(221, 221, 221, 0.7);
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: rgba(149, 149, 149, 0.49);
    font-weight: 400;
}
.woocommerce form .form-row textarea {
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce .select2-container--default .select2-selection--single {
    border-color: rgba(149, 149, 149, 0.49);
    font-weight: 400;
}
.woocommerce .select2-dropdown {
    background-color: #ccc;
    border: 1px solid #eee;
    border-radius: 4px;
}
.woocommerce .col-1,
.woocommerce .col-2 {
    max-width: 100%;
    margin: 0;
    padding: 0;
}




/* --------------------------------- *
*           Magnifitpopup            *
* --------------------------------- */
.product-img-zoomin .mfp-container,
.product-img-zoomin.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.product-img-zoomin.mfp-ready .mfp-container {
    opacity: 1;
}
.product-img-zoomin.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.product-img-zoomin.mfp-removing .mfp-container,
.product-img-zoomin.mfp-removing.mfp-bg {
    opacity: 0;
}




/* --------------------------------- *
*           My Account               *
* --------------------------------- */
.woocommerce-account .woocommerce-MyAccount-navigation {
    margin-bottom: 60px;
}
nav.woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    padding: 0 0 25px;
}
.woocommerce-MyAccount-navigation ul li.is-active a {
    color: #fff;
}
.woocommerce-MyAccount-navigation ul li a {
    color: #000;
    font-size: 16px;
}
nav.woocommerce-MyAccount-navigation ul li:hover a {
    color: #fff;
}
.woocommerce .woocommerce-MyAccount-content p {
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after {
    top: 15px;
    right: 12px;
}

/* --------------------------------- *
*   Woocommerce sidebar widgets      *
* --------------------------------- */
.eventco_wooshop_widgets .widget {
    word-break: break-word;
    padding: 14px 14px 16px;
    border: 1px solid #eceaea;
    margin-bottom: 20px !important;
}
.eventco_wooshop_widgets .widget_title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 500;
}
.eventco_wooshop_widgets .ui-slider-range {
    top: 0;
    height: 100%;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    border-radius: 0;
}
.woocommerce .widget_price_filter .ui-slider-horizontal,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    height: .5em;
    border-radius: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    border-radius: 0;
}
.eventco_wooshop_widgets .widget .button {
    margin: 4px 0 0 0;
    color: #fff;
    border: 0;
    padding: 10px 22px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.eventco_wooshop_widgets .widget .price_label {
    font-size: 13px;
    font-weight: 600;
}
.eventco_wooshop_widgets .widget .button:hover {
    background-color: #0f58c5;
}
.eventco_wooshop_widgets .widget .buttons {
    margin-bottom: 0;
}
.eventco_wooshop_widgets .widget ul li {
    padding: 0px 0 16px;
}
.eventco_wooshop_widgets .widget ul li a {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.eventco_wooshop_widgets .widget ul li img {
    width: 64px;
}
.eventco_wooshop_widgets .widget ul li a.remove {
    top: 23px !important;
    left: 3px !important;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.eventco_wooshop_widgets .widget .tagcloud a {
    padding: 3px 10px;
    border: 1px solid #ddd;
}
.eventco_wooshop_widgets .widget ul li:last-child {
    padding-bottom: 0;
}
.eventco_wooshop_widgets .widget_shopping_cart .total {
    border-top: 3px double #ebe9eb;
    padding: 14px 0 0px;
    margin-top: 24px;
}

.eventco_wooshop_widgets .widget .search-field {
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 14px;
    margin-bottom: 10px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
}