/*
* PersonalBlog
* File Description: The main stylesheet of this theme for main design part.
* Author: Themeum
* Website: http://www.themeum.com/
* Support: support@themeum.com
*/

/*=======================================*
*=======   TABLE OF CONTENT   ========*
*=======================================*

1. Footer
2. 404 Page
3. Contact Us
4. Coming Soon
5. Main Menu

=======================================*/

/*=========================================
*=======     basic      ============
*=======================================*/
body {
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 30px;
  color: #000;
  overflow-x: hidden;
}
a{
  -webkit-transition: color .3s, background .3s;
  transition: color .3s, background .3s;
}
a:hover,
a:focus {
  text-decoration: none !important;
}

a:focus,
.mobile-toggle-button button:focus,
input[type=submit]:focus,
.btn-style:focus,
.form-control:focus,
input:focus, textarea:focus, keygen:focus, select:focus{
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}
.btn.active.focus, .btn.active:focus, 
.btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}
.btn.active, .btn:active,
.form-control:focus {
  box-shadow: none;
}
.media-left, .media>.pull-left {
  padding-right: 15px;
}

.btn-style {
  font-style: italic;
  font-size: 18px;
  color: #000;
}
.style-title,
.comments-title,
.comment-reply-title {
  padding: 0 0 0 8px;
  margin: 0 0 30px;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
}
.load-more {
  padding: 0 0 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  font-size: 22px;
  color: #000;
}
.load-wrap {
  padding-bottom: 60px;
}

/*=========================================
*=======       scrollUp CSS    ============
*==========================================*/

a#scrollUp {
    bottom: 14px;
    right: 3%;
    padding: 5px;
    color: #000;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.66);
    width: 43px;
    height: 43px;
    text-align: center;
    background: #f5f5f5;
}
a#scrollUp:hover {
    background: #000;
    color: #fff;
}

a#scrollUp i{
  font-size: 18px;
}


/*=========================================
*=======     Contact Form 7    ============
*==========================================*/
.contact-submit input[type=submit] {
  padding: 8px 22px;
  border: none;
}


.bg-contact input[type=text], input[type="email"], textarea {
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 8px 15px;
}

.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea {
    width: 100%;
    margin-bottom: 20px;
}

.wpcf7-form-control-wrap textarea {
    height: 140px;
}
.personal-contact {
    margin-top: 30px;
}

.personal-contact .entry-title {
    padding: 10px 12px 30px;
    width: 100%;
    margin: 0;
}

.post-content-wrapper-controller {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding-top: 50px;
    color: #000;
    font-size: 18px;
}

.post-content-wrapper-controller .pull-left a {
    padding-left: 10px;
}

.post-content-wrapper-controller .pull-right a {
    padding-right: 10px;
}

.post-content-wrapper-controller .fa-angle-right:before {
    float: right;
}

.post-content-wrapper-controller .pull-left:hover, .post-content-wrapper-controller .pull-right:hover{
   color: #29a8db;
}

/* Contact Form 7 end*/


#carousel-main .btn {
    text-transform: uppercase;
    border-width: 0 0 3px !important;
    border-style: solid;
    border-radius: 6px;
}

/*=========================================
*=======     Logo       ============
*=======================================*/
.logo-wrapper h1 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
/*=========================================
*=======     Menu Social       ============
*=======================================*/
.social-share ul li {
  display: inline-block;
  margin-left: 12px;
}
.social-share ul li:first-child {
  margin-left: 0;
}
.menu-social .social-share ul li a {
  color: #fff;
  transition: 300ms;
  -webkit-transition: 300ms;
}
.header-borderimage .menu-social .social-share ul li a,
.header-solid .menu-social .social-share ul li a {
  color: #000;
}
/*=========================================
*=======     subtitle       ============
*=======================================*/
.subtitle-cover h2 {
  margin: 0;
  font-size: 70px;
  line-height: 70px;
  position: relative;
  z-index: 3;
  color: #fff;
}


/*=========================================
*=======     Navigation       ============
*=======================================*/

/* main menu */
.menu-wrapper {
  position: relative;
}
.navbar-header {
  margin-bottom: 0;
}

#navigation .navbar-brand {
  height: 0;
  padding: 0;
  margin: 12px 0 0;
}

#navigation .navbar-nav {
  float: right;
}

#navigation a.navbar-brand h1 {
  margin: 0;
  font-size: 42px;
}
.header-transparent {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.admin-bar #masthead.sticky {top:32px;}

#navigation .navbar-header .navbar-toggle {
  margin: 12px 0 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
  transition: 300ms;
  -webkit-transition: 300ms;
}

#navigation .navbar-header .navbar-toggle:hover,
#navigation .navbar-header .navbar-toggle:focus {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.main-menu-wrap {
  width: 100%;
  display: table;
}

.common-menu {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.common-menu-wrap {
  position: inherit;
  text-align: center;
}

.common-menu-wrap #menu-right-menu.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9;
  display: block;
}
.common-menu-wrap #menu-left-menu.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9;
  display: block;
  text-align: right;
}

.common-menu-wrap .nav>li {
  display: inline-block;
  position: relative;
  padding: 0;
}

.common-menu-wrap .nav>li>a {
  display: inline-block;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 18px;
}

.logo-wrapper{
  padding: 70px 0;
  text-align: center;
}
.theme-logo {
  display: inline-block;
}

.common-menu-wrap .nav>li.ticket-menu a {
  background-color: #FF8A00;
  border-radius: 3px;
  line-height: 36px;
  margin-left: 25px;
  transition: 300ms;
  -webkit-transition: 300ms;
}
#menu-main-menu {
  position: relative;
  margin-bottom: 60px;
}

#menu-main-menu:before {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 1px;
  background: #eee;
  background: -moz-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,#fff),color-stop(30%,#cbc9ce),color-stop(70%,#cbc9ce),color-stop(100%,#fff));
  background: -webkit-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: -o-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: -ms-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: linear-gradient(to right,#fff 0,#eee 30%,#eee 70%,#fff 100%);
}
#menu-main-menu:after {
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  height: 1px;
  background: #eee;
  background: -moz-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,#fff),color-stop(30%,#cbc9ce),color-stop(70%,#cbc9ce),color-stop(100%,#fff));
  background: -webkit-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: -o-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: -ms-linear-gradient(left,#fff 0,#cbc9ce 30%,#cbc9ce 70%,#fff 100%);
  background: linear-gradient(to right,#fff 0,#eee 30%,#eee 70%,#fff 100%);
}

.common-menu-wrap .nav>li.ticket-menu a:hover,
.common-menu-wrap .nav>li.ticket-menu a:focus {
  background-color: #D67400;
}

.common-menu-wrap .nav>li.fixed-menu {
  margin-left: 20px;
}


.common-menu-wrap .nav>li>a:hover,
.common-menu-wrap .nav>li>a:focus {
  background-color: transparent;
}

.common-menu-wrap .nav>li.menu-item-has-children {
  position: relative;
  z-index: 100;
}
.common-menu-wrap .nav>li.menu-item-has-children > a{
  position: relative;
}
.common-menu-wrap .nav>li.menu-item-has-children > a:after{
  content: " \f107";
  font-family: "FontAwesome";
  margin-left: 2px;
  color: #000;
}
.header-solid .common-menu-wrap .nav>li.menu-item-has-children:after{
  color: #000;
}

.page-template-homepage-transparent-php #masthead.sticky .common-menu-wrap .nav>li.fixed-menu>a {
  color: #fff;
}

.common-menu-wrap .nav>li > ul{
  padding: 0px 0 0;
}

.common-menu-wrap .nav>li ul {
  text-align: left;
  position: absolute;
  left: 10px;
  list-style: none;
  margin: 0;
  width: 220px;
  display: none;
  z-index: 999999;
  top: 80px;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;  
}

/* FadeInUp */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* zoom In */
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

/* pulse */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.common-menu-wrap .nav>li:hover>ul {
  opacity: 1;
  top: 53px;
  visibility: visible;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  display: block;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;  
}

.common-menu-wrap .nav>li.fixed-menu a {
  color:#fff;
  line-height: 36px;
  border-radius: 4px;
  transition:300ms;
  -webkit-transition:300ms;
}

.common-menu-wrap .nav>li.fixed-menu a:hover {
  color: #fff;
}


.common-menu-wrap .nav>li>ul li a {
  display: block;
  line-height: normal;
  padding: 13px 20px;
  font-size: 12px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  transition:400ms;
  -webkit-transition:400ms;
}

.common-menu-wrap .nav>li>ul li:last-child a{
  border-bottom-width: 0;
  border-radius: 0 0 3px 3px;
}

.common-menu-wrap .nav>li>ul li > div {
  padding: 0 20px 10px;
  font-size: 13px;
}

.common-menu-wrap .sub-menu li.active{
  background: #333;
}

.common-menu-wrap .nav>li>ul li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.common-menu-wrap .nav>li>ul {
  transition:300ms;
  -webkit-transition:300ms;
}

.common-menu-wrap .nav>li>ul li {
  transition:300ms;
  -webkit-transition:300ms;
}


.common-menu-wrap .nav>li>ul li {
  position: relative;
  transiton:300ms;
  -webkit-transiton:300ms;
  -moz-transiton:300ms;
  background: #191919;
}

.common-menu-wrap .nav>li>ul >li.menu-item-has-children {
  position: relative;
  display: block;
}

.common-menu-wrap .nav>li>ul >li.menu-item-has-children:after {
  position: absolute;
  content: "\f105";
  right: 18px;
  top: 4px;
  color: #fff;
  font-size: 17px;
  font-family: FontAwesome;
}


.common-menu-wrap .nav>li>ul li>ul {
  display: none;
  position: absolute;
  top: 0;
  left: 220px;
  padding: 0;
}

.common-menu-wrap .nav>li>ul li:hover>ul {
  display: block;
  -webkit-animation: fadeIn 300ms;
  animation: fadeIn 300ms;
}

/*============   Megamenu  ==============*/

.common-menu-wrap .nav>li.has-megasub {
  position: inherit;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu{
  padding: 42px 30px;
  width: 100%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu > li {
  float: left;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-4 > li{
  width: 25%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-3 > li{
  width: 33%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-2 > li{
  width: 50%;
}

.common-menu-wrap .nav>li.has-megasub > ul.megamenu.megacol-1 > li{
  width: 100%;
}



/*===========   Mobile Menu   ===========*/

/* menu tobble button */
.mobile-toggle-button {
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  text-align: center;
  display: none;
}

.mobile-toggle-button button {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 18px;
}

#mobile-menu{
  position: absolute;
  top: 52px;
  width: 100%;
  z-index: 9;
  right: 0;
  z-index: 999;
  background: #eeeeee;
}

.admin-bar #mobile-menu {
  top: 52px;
}

.navbar-toggle .icon-bar {
  background: #000;
  width: 25px;
  height: 3px;
}

.navbar-toggle {
  border: none;
  margin: 5px 0 0;
  z-index: 3;
  font-size: 30px;
  text-align: right;
  color: #000;
}

.header-borderimage .navbar-toggle .icon-bar,
.header-solid .navbar-toggle .icon-bar {
  background: #000;
}

#navigation #mobile-menu .navbar-nav {
  float: none;
}

#navigation #mobile-menu .navbar-nav {
  margin: 0;
  background-color: #29333f;
}


#mobile-menu .navbar-collapse{
  border: 0;
}

#mobile-menu .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0 !important;
}

#mobile-menu ul {
  list-style: none;
  padding: 15px;
}

#mobile-menu ul li{
  margin-bottom: 2px;
}
#mobile-menu ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #000;
  display: block;
}
#mobile-menu ul li.active>a,
#mobile-menu ul li a:hover {
  background: rgba(255,255,255,0.5);
}

#mobile-menu ul ul {
  padding-left: 35px;
  padding-top: 0;
  padding-bottom: 0;
}

#mobile-menu ul li span.menu-toggler {
  display: inline-block;
  width: 34px;
  cursor: pointer;
  color: #000;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

#mobile-menu ul li:hover .menu-toggler{
  color: #222;
}

#mobile-menu ul li {
  line-height: 20px;
  display: block;
}

#mobile-menu ul li span.menu-toggler i {
  display: block;
  line-height: 34px;
}

#mobile-menu ul li span.menu-toggler .fa-angle-right,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-down {
  display: none;
}

#mobile-menu ul li span.menu-toggler .fa-angle-down,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-right {
  display: block;
}

#navigation #mobile-menu .navbar-nav>li>a:focus,
#navigation #mobile-menu .navbar-nav>li>a:hover {
  background-color: transparent;
}

@media only screen and (max-width : 768px) {
  #masthead.sticky {
    position: inherit !important;
  }
}

#navigation .navbar-header .navbar-toggle:hover,
#navigation .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}


/*=========================================
*=======   Widget Settings    ============
*=======================================*/

.about-widgets {
    text-align: center;
}
.about-widgets img {
    margin: 0px auto 30px;
    width: 186px;
    height: 186px;
    border-radius: 50%;
}

.widget ul li a i {
    border: 1px solid #eee;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    font-size: 18px;
    text-align: center;
    padding-top: 13px;
}

/* ads widget */
.widget.widget_themeum_image_widget .double-ads {
  margin: 0 -10px;
  padding: 0;
}
#sidebar .widget.widget_themeum_image_widget .double-ads li {
    padding: 0 10px;
    width: 50%;
    display: inline-block;
    float: none;
}
#sidebar .widget.widget_themeum_image_widget .double-ads li a {
    padding: 10px 0 0;
    margin: 0;
}
#sidebar .widget.widget_themeum_image_widget .double-ads li a img {
    width: 100%;
    max-width: 100%;
}
/* sidebar social Icons */
.themeum-social-share .facebook-wrapper i:hover{
    background: #4464a3;
    color: #fff;
}
.themeum-social-share .twitter-wrapper i:hover{
    background: #03b4ef;
    color: #fff;
}
.themeum-social-share .gplus-wrapper i:hover{
    background: #e25641;
    color: #fff;
}
.themeum-social-share .linkedin-wrapper i:hover{
    background: #0286be;
    color: #fff;
}
.themeum-social-share .rss-wrapper i:hover{
    background: #ee802f;
    color: #fff;
}
.themeum-social-share .pinterest-wrapper i:hover{
    background: #c8232c 
    color: #fff;
}
.themeum-social-share .youtube-wrapper i:hover{
    background: #c4302b;
    color: #fff;
}
.themeum-social-share .instagram-wrapper i:hover{
    background: #8a3ab9;
    color: #fff;
}
.themeum-social-share .vimeo-wrapper i:hover{
    background: #4EBBFF
    color: #fff;
}
.themeum-social-share .dribble-wrapper i:hover{
    background: #C73B6F
    color: #fff;
}

.themeum-social-share {
    margin: 0 auto;
    text-align: center;
}
.widget.widget_themeum_social_share_widget .themeum-social-share {
  margin-top: -25px;
}
/* end social share */

.day-count{
  font-size: 14px;
  color: #aaa;
  font-style: italic;
}
.widget-blog-posts-section .media-left,
.widget-blog-posts-section .media>.pull-left {
  padding-right: 15px;
}

.widget-blog-posts-section .entry-title {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0;
  line-height: 24px;
}

.widget-blog-posts-section .entry-title  a {
  color: #000;
  transition: 300ms;
  -webkit-transition: 300ms;
}
.widget-blog-posts-section .media {
  margin-top: 25px;
}

.widget-blog-posts-section .media .pull-left img {
  margin-bottom: 0;
  height: 80px;
  width: 75px;
  border-radius: 4px;
}

.widget-blog-posts-section .entry-date {
  font-size: 14px;
}

.widget-popular-news-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget.widget_themeum_popular_posts_widget {
  padding: 0;
  margin: 0;
}

.widget{
  word-break: break-word;
}

.widget_recent_comments a{
  word-break: break-word;
}

.search-no-results #searchform {
  position: relative;
  margin-top: 30px;
}

.search-no-results #searchform .form-control {
  height: 50px;
  padding: 10px 20px;
}

.search-no-results #searchform .btn-search {
  position: absolute;
  right: 20px;
  top: 10px;
}

.widget select{
  width: 100%;
  margin: 0;
  background: #fff;
  padding: 20px;
  border: 1px solid #f2f2f2;
  line-height: 40px;
  height: 40px;
  border-radius: 0;
  color: #333;
}

.textwidget img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form-control{
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #f2f2f2;
}

#sidebar {
  padding-top: 70px;
}

#sidebar .widget{
  margin-bottom: 60px;
  padding: 0;

}

.content-grid {
  border-left: 1px solid #eee;
  padding-left: 55px;
}

.content-grid.right-side {
  border-left: none;
  border-right: 1px solid #eee;
  padding-left: 0; 
  padding-right: 55px; 
}

.widget-area {
  padding-right: 25px;
}
.widget-area.right-side {
  padding-right: 0;
  padding-left: 25px;
}

.widget-area .widget:last-child{
  margin-bottom: 0px;
}


#sidebar h3.widget_title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  color: #464646;
}


#sidebar .themeum-title .icon-bar {
  background: #000;
}

.widget.widget_archive label {
  font-weight: 400;
}

aside.widget-area .themeum-title{
  margin-bottom: 30px;
}

.widget-popular-news a {
  color: #555;
}

.widget-popular-news a:hover {
  color:#000;
}

.widget-popular-news .media>.pull-left {
  padding-right: 15px;
}

.widget_title{
  margin-top: 0;
  margin-bottom: 0;
}

.widget .tagcloud{
  display: block;
}

.widget .tagcloud a{
    display: inline-block;
    color: #000;
    margin-bottom: 10px;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    font-size: 16px !important;
    border: 1px solid #eee;
    padding: 5px 25px;
    margin-right: 10px;
}
.widget .tagcloud a:hover{
  color: #fff;
  background: #2fccf7
}

.widget >ul{
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  list-style: none;
}

.widget ul.children{
  list-style: none;
  padding-left: 10px;
}

#sidebar .widget ul.children li:last-child {
  border-bottom: none;
}

#sidebar .widget ul li {
  padding: 5px 0;
  color: #999;
}

.widget ul > li:last-child{
  border-bottom:none;
}

#sidebar .null-instagram-feed.widget ul {
  margin: -10px;
}

#sidebar .null-instagram-feed.widget ul li {
  padding: 10px;
  width: 33.333333%;
  display: inline-block;  
}

#sidebar .null-instagram-feed.widget ul li img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#sidebar .null-instagram-feed.widget ul li  a {
  padding: 0;
}

.widget.widget_categories ul li{
  text-transform: capitalize;
}

.widget_nav_menu ul{
  padding: 0px;
}
.widget_nav_menu ul li{
  list-style:none;
}

.widget_nav_menu ul.menu .sub-menu li:first-child {
  border-bottom: none;
}


.widget ul li a{
  color: #000;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  padding: 2px 0;
  transition: 300ms;
  -webkit-transition: 300ms;
}
#sidebar .widget_categories ul li {
  text-align: right;
  padding-top: 0;
  line-height: 28px;
  padding-bottom: 8px;
  clear: both;
}
#sidebar .widget_categories ul li a {
  float: left;
}

.widget ul  li:nth-child() a {
  padding-top: 0;
}

.widget ul  li:last-child a {
  padding-bottom: 0;
}

.widget.widget_recent_comments ul li{
  padding-top: 5px;
  padding-bottom: 5px;
  word-break: break-word;
}

.widget.widget_rss ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-word;
}

.widget.widget_recent_comments ul li a{
  padding: 0;
  border-left: 0 none;
}

.widget.widget_nav_menu ul.sub-menu{
  padding-left: 20px;
}

#sidebar  .widget.widget_nav_menu ul.sub-menu li:last-child {
  border-bottom: none;
}

.widget_text .textwidget{
  padding: 0;
}

.widget.widget_rss .widget_title a{
  color: #222;
}

.widget.widget_rss ul li a{
  border: 0 none;
  padding: 0;
}

.widget.widget_rss a:hover,
.widget.widget_recent_comments a:hover{
  border-left: 0px;
  text-decoration: underline;
}

.widget.widget_search #searchform{
  position: relative;
  border: 1px solid #eee;
}

.widget.widget_search #searchform input {
  height: 50px;
  border: none;
  box-shadow: none;
  font-weight: 300;
  padding: 10px 20px;
  margin: 0;
  background: none;
}

.widget.widget_search .btn-search {
  position: absolute;
  right: 20px;
  top: 10px;
  transition: 300ms;
  -webkit-transition: 300ms;
}


#sidebar #themeum_social_share_widget-2 ul>li{
    display: inline-block;
    padding-right: 10px;
}
#sidebar #themeum_social_share_widget-2 ul>li a:hover{
   color: #00aeef;
}


/* About Title  */
.widget_themeum_about_widget .about_title {
    font-size: 22px;
}

.widget_themeum_about_widget .about-desc {
    font-size: 16px;
    line-height: 26px;
}


/*=====================================
* =========== Blog Page ===============
=======================================*/
.blog-list {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}

.instagram-pics li>a,
.widget-blog-posts-section .pull-left>a,
article.blog-list .blog-details-img{
  overflow: hidden;
  background-color: #000;
  position: relative;
  display: block;
  z-index: 2;
}
.blog-list.fullwidth .blog-details-img img {
  width: 100%;
}
.instagram-pics li>a,
.widget-blog-posts-section .pull-left>a{
  border-radius: 4px;
}
.instagram-pics li>a:before,
.widget-blog-posts-section .pull-left>a:before,
article.blog-list .blog-details-img:before{
  content: "\f08e";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 50px;
  font-family: fontawesome;
  color: #fff;
  opacity: .8;
  pointer-events: none;
  margin-top: 40px;
  opacity: 0;
  transition: .3s;
}
.single article.blog-list .blog-details-img:before {
  display: none;
 }
.instagram-pics li>a:before,
.widget-blog-posts-section .pull-left>a:before{
  font-size: 18px;
  margin-top: 10px;
}
.instagram-pics li>a:before{
  content: "\f16d";
  font-size: 22px;
}

.instagram-pics li>a img,
.widget-blog-posts-section .pull-left>a img,
article.blog-list .blog-details-img img{
  -webkit-transition: .5s;
  transition: .5s;
}
.instagram-pics li:hover>a:before,
.widget-blog-posts-section .media:hover .pull-left>a:before,
article.blog-list:hover .blog-details-img:before{
  opacity: .7;
  margin-top: 0;
}
.instagram-pics li:hover>a img,
.widget-blog-posts-section  .media:hover .pull-left>a img,
article.blog-list:hover .blog-details-img img{
  opacity: .5;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.post-icon {
  font-size: 24px;
}
.entry-header {
  margin-bottom: 40px;
  padding-bottom: 20px; 
  position: relative;
}
.entry-header:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 20px;
  margin-left: -10px;
  background-color: #cacaca;
}
.page-template-page-left-sidebar .site-content img,
.page-template-page-right-sidebar .site-content img{
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}
.site-content img {
  margin-bottom: 0;
}
.entry-header .entry-title a {
  color: #000;
  transition: 300ms;
  -webkit-transition: 300ms;
}
.entry-header .entry-title {
  margin: 22px 0 5px;
  text-transform: capitalize;
}
.blog-post-meta {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-post-meta li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  color: #888888;
  text-transform: capitalize;
  font-style: italic;
  font-size: 16px;
}
.blog-post-meta li a {
  color: #888;
}
.blog-post-meta li:after {
  position: absolute;
  content: "";
  right: -2px;
  top: 9px;
  height: 15px;
  width: 1px;
  background-color: #cacaca;
}

.blog-post-meta li:last-child:after {
  display: none;
}

.featured-wrap .entry-content-gallery a.left.carousel-left {
   transform: translateY(-50%);
   top: 49%;
   position: absolute;
   z-index: 5;
   padding: 25px;
   font-size: 42px;
    color: #fff;
}

.featured-wrap .entry-content-gallery a.left.carousel-left,
.featured-wrap .entry-content-gallery a.right {
  opacity: .4;
  transition: 400ms;
  -webkit-transition: 400ms;
}

.featured-wrap .entry-content-gallery a.right i{
   position: absolute;
   transform: translateY(-50%);
   top: 49%;
   font-size: 42px;
   text-align: right;
   width: 100%;
   padding: 25px;
   color: #fff;
}

.featured-wrap .entry-content-gallery a.left.carousel-left:hover,
.featured-wrap .entry-content-gallery a.right:hover {
  opacity: 1;
}
.entry-content {
  margin-top: 30px;
  text-align: center;
}
.single .entry-content {
  text-align: left;
}
.wrap-btn-style {
  margin-top: 0;
  margin-bottom: 20px;
}

.meta-content-limit{
  content: "";
  width: 25px;
  height: 2px;
  background: #999;
  margin: 40px auto 35px;
}

/* link and quote post format */
.entry-link-post-format,
.entry-quote-post-format {
  background: #f5f5f5;
  padding: 70px;
  border-radius: 4px;
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
}

.entry-link-post-format h4 {
  margin: 10px 0 0;
  font-size: 20px;
}

.entry-link-post-format i {
font-size: 48px;
}

.entry-quote-post-format blockquote {
  padding: 0;
  border: none;
  margin: 0;
  font-size: 20px;
  color: #828282;
  position: relative;
  background: none;
}
.entry-quote-post-format blockquote:after {
  display: none;
}

.entry-quote-post-format blockquote p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.entry-quote-post-format blockquote p i {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.06);
  padding-right: 10px;
  position: absolute;
  left: -30px;
  top: -30px;
}

.entry-quote-post-format blockquote small {
  line-height: 24px;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

.entry-quote-post-format blockquote small:before {
  display: none;
}

/* blockquote */
blockquote {
  padding: 35px;
  background: #f5f5f5;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  margin: 40px 0;
  border: none;
  position: relative;
}
blockquote:after {
  position: absolute;
  left: 25px;
  top: -5px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #ccc;
  font-size: 48px;
}

.entry-link-post-format i {
    font-size: 260px;
    position: absolute;
    left: 30px;
    top: 30px;
    opacity: .05;
}

/* Blog Pagination... */
.themeum-pagination ul li:first-child a{
    border: inherit;
}
.themeum-pagination ul li:first-child a {
    border: inherit;
    margin-right: 45px;
}
.themeum-pagination ul li:first-child a:hover {
    background: inherit;
    color: #222;
}
.themeum-pagination ul li:first-child a .pagination-pre {
    border: inherit;
}

.themeum-pagination ul li:last-child a {
    border: inherit;
    margin-left: 8px;
}
.themeum-pagination ul li:last-child a:hover {
    background: inherit;
    color: #222;
}
.themeum-pagination ul li:last-child a .pagination-next {
    border: inherit;
}
.themeum-pagination {
    text-align: center;
    padding-bottom: 60px;
}

ul.page-numbers {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.themeum-pagination .page-numbers>li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.themeum-pagination li span.page-numbers, .themeum-pagination li a.page-numbers {
    height: 33px;
    width: 33px;
    color: #000;
    padding: 1px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 4px;
}
.themeum-pagination li span.page-numbers.current {
  color: #fff;
}

.themeum-pagination li span.page-numbers:hover, .themeum-pagination li a.page-numbers:hover{
    background: #000; 
    color: #fff;
}
.themeum-pagination li a i{
    padding: 2px;
}
.themeum-pagination li a i:hover{
    color: #fff;
    padding: 2px;
}

.subtitle-cover .page-leading {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 75px;
}

.post-navigation .single-next a, .post-navigation .single-pre a{
    font-size: 12px;
    font-weight: bold;
}

/* blog pagination end */

.social-activities {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.social-activities a {
  color: #000;
}
.starterpro-social-share ul{
  margin: 0;
  padding: 0;
}
.starterpro-social-share ul li{
    list-style: none;
    margin: 0 auto;
    margin: 0 12px;
    font-size: 18px;
    display: inline-block;
}

.comment-respond {
  margin-top: 55px;
}

.comments-area {
    margin-bottom: 150px;
    color: #000;
}
.comments-area .comments-title{
    color: #000
}
.comments-area .comment-list>li{
    list-style: none;
}
.comments-area .comment-list>li img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.comments-area .comments-title{
  padding: 0 0 0 8px;
  margin: 0 0 30px;
}

.comments-area ul>li ul>li{
  list-style: none;
  margin-top: 40px;
}

.comment-context {
    font-size: 15px;
}

.comment-context .comment-head span.comment-author {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    width: 100%;
    float: none;
    padding-right: 12px;
}

.comment-context .comment-content {
    padding-top: 15px;
    color: #000;
}

.logged-in-as a{
  font-size: 16px;
}

/* Blog Comments Start */

.form-submit {
  margin: 30px 0 0;
  float: left;
}

.form-submit input[type=submit] {
    background: #00aeef;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
}
.comments-area .comment-form input[type=text]:nth-child(1){
    border: 1px solid #ddd;
    padding: 10px;
    width: 31.28%;
    margin-right: 25px;
    margin-top: 20px;
    border-radius: 3px;
    height: 45px;
}

.comments-area .comment-form input[type=text]:nth-child(2){
    border: 1px solid #ddd;
    padding: 10px;
    width: 31.28%;
    margin-top: 20px;
    border-radius: 3px;
    height: 45px;

}
.comments-area .comment-form input[type=text]:last-child{
    border: 1px solid #ddd;
    padding: 10px;
    width: 31.28%;
    margin-top: 20px;
    border-radius: 3px;
    height: 45px;
    float: right;
}
.comments-area textarea {
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 11px;
    width: 100%;
    border-radius: 4px;
    min-height: 130px;
}

/* blog Comments end*/


/*=================================
*=======   Blog Single  =======
*================================= */

/* auhtor post */
.author-user-profile img {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin-right: 10px;  
}

.author-user-heading h3 {
  margin: 0;
  font-size: 20px;
}

.author-user-heading h3 a {
  color: #999;
  font-size: 16px;
  font-style: italic;
}

.author-user-heading h3 span {
  display: block;
}

.author-user-profile .author-user-heading .description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.author-user-profile.media {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;
}

.author-user-profile .author-social-profile {
  margin: 0;
  padding: 0;
}

.author-user-profile .author-social-profile li {
  margin-right: 8px;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 6px;
}
.author-user-profile .author-social-profile li a{
  color: #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  display: inline-block; 
}
.author-user-profile ul .wrap-facebook {
    background: #4464a3;
}
.author-user-profile ul .wrap-twitter {
    background: #03b4ef;
}
.author-user-profile ul .wrap-google-plus {
    background: #e25641;
}
.author-user-profile ul .wrap-linkedin {
    background: #0286be;
}
.author-user-profile ul .wrap-tumblr {
    background: #a3a3a3;
}
.author-user-profile ul .wrap-pinterest{
    background: #00aeef;
}
.author-user-profile ul .wrap-instagram {
    background: #8a3ab9;
}


/* related Post */
.related-posts {
  margin-bottom: 45px;
}
.related-post-item h4 {
  font-size: 16px;
  margin: 15px 0 0;
  line-height: 24px;
}
.related-post-item h4 a {
  color: #000;
}
.common-post-item-in {
  border-radius: 4px;
}


/*=================================
*=======    404 page   =======
*================================= */
.starter-logo {
    margin-top: 110px;
}
.starter-logo img{
  width: 280px;
}

.error-page-inner{
  width: 100%;
  height: 100%;
  display: table;
  background: #000;

}
.error-code{
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 102px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 158px;
  width: 365px;
}
.error-message-title{
    color: #fff;
    font-size: 26px;
    margin: 0;
    padding-top: 40px;
    font-weight: 700;
}
.error-page-inner >div {
  vertical-align: middle;
  display: table-cell;
}
.error-msg{
  text-align: right;

}
.error-page-inner .error-msg .logo-top img{
  *background-size: cover !important;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body.error404 {
  background-color: #444;
}
.error-message{
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 30px;
  padding-bottom: 55px;
  margin: 0;
}
.error-page-inner .btn-primary{
  font-size: 18px;
  background: #00aeef none repeat scroll 0 0;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px 20px;
}
.error-page-inner a.btn.btn-primary.btn-lg{
  font-size: 18px;
  line-height: 50px;
  padding: 0 30px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}
.error-page-inner a.btn.btn-primary.btn-lg:hover {
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
}

.error-page-inner .error-msg a{
    letter-spacing: 2px;
    padding: 14px 18px;
    transition: color 400ms ease 0s, background-color 400ms ease 0s, border-color 400ms ease 0s;
    font-weight: normal;
    font-size: 16px;
}

/*=================================
*=======    Coming Soon    =======
*================================= */
html {
  width: 100%;
  height: 100%;
}

.page-template-coming-soon  {
  width: 100%;
  height: 100%;
}

.subnewslatter  {
  margin-left: -95px !important;
  height: 50px !important;
  width: 100px;
  background: #009dd6 !important;
  margin:0;
  padding: 0;
}

.coming-soon-logo{
  margin-top: 110px;
}
.coming-soon-newslatter{
  width: 584px;
  display: inline-block;
  background-color: rgba(255, 205, 30, 0.8);
  padding: 35px 48px 22px 48px;
  margin-top: 50px;
}
.inputnewslatter{
  width: 405px !important;
  float: left;
}
.subnewslatter{
  margin-top: inherit !important;
}

.comingsoon{
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.comingsoon-wrap {
  width: 100%;
  height: 100%;
  display: table;
}
.comingsoon-content {
  vertical-align: middle;
  display: table-cell;
}

#comingsoon-countdown .countdown-amount{
  display: block;
  font-size: 130px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 110px;
  text-shadow: 1.5px 2.598px 3px rgba(0, 0, 0, 0.1);
}
#comingsoon-countdown .countdown-period{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.comingsoon .sub-page-header{
  font-size: 24px;
  font-weight: 700;
}

.comingsoon .soon-page-header {
  font-size: 62px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
}

.countdown-days{
  color:#fff !important;
}
.countdown-hours{
  color:#fff !important;
}
.countdown-minutes{
  color:#fff !important;
}
.countdown-seconds{
  color:#fff !important;
}

.countdown-section {
  display: inline-block;
  margin: 0 55px;
  padding: 75px 0 20px 0;
  position: relative;
}

.comingsoon .days,
.comingsoon .hours,
.comingsoon .minutes,
.comingsoon .seconds {
  display: block;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 700;
}
.countdown-section:not(:last-child):after{
  background: #e6e6e6 none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 16px;
  left: auto;
  position: absolute;
  width: 16px;
  bottom: 108px;
  right: -58px;
  box-shadow: 1.5px 2.598px 3px 0px rgba(0, 0, 0, 0.1);
}

p.comingsoon-message-desc{
  font-size: 24px;
  font-weight: 700;
}
.comingsoon > div{
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.social-share ul{
  margin: 0;
  padding: 0;
}
.comingsoon .social-share ul li {
  display: inline-block;
  margin: 0 15px;
}

.comingsoon-footer {
  margin-top: 50px;
  margin-bottom: 100px;
}

.comingsoon .social-share li a {
  color: rgba(255,255,255,0.7);
  font-size: 24px;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}
.comingsoon .social-share li a:hover {
  color: #fff;
}

.comingsoon-footer .copyright-text {
  font-size: 14px;
  color: #999999;
  margin: 35px 0 0;
}

.comingsoon .mc4wp-form-fields input[type="email"] {
    background-color: #fff;
    border: none;
    width: 70%;
    padding: 13px;
    float: left;
    border-radius: 0;
}

.comingsoon .mc4wp-form-fields input[type=submit] {
    width: 30%;
    padding: 13px;
    background: #242424;
    border: none;
    color: #222;
    font-weight: 400;
    border-radius: 0;
    margin-left: -4px;
    text-transform: uppercase;
}

.comingsoon .mc4wp-form-fields {
    margin-top: 25px;
}


/* ==========================================================================
  Footer
========================================================================== */

.footer-wrap .container{
  padding: 80px 0;
  border-top: 1px solid #eee;
}
.footer-wrap  .widget ul li a {
  color: #fff;
}
/* Footer Section */
.footer-copyright {
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.footer-copyright ul{
    margin: 0;
    padding: 0
}
.footer-copyright ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 0 7px;
}

.footer-copyright ul li a {
    color: #000;
    text-transform: uppercase;
}

.footer-copyright ul li:after {
    content: "/";
    padding-left: 12px;
    font-size: 14px;
}

.footer-copyright ul li:last-child:after {
    content: "";
}
.footer-copyright .copy-wrapper, .footer-copyright .copy-wrapper a {
    color: #999;
}
.footer-copyright .copy-wrapper a:hover {
    color: #000;
}