/*=====================================
* =========== Blog Post ===============
=======================================*/
.wptixon-post{
  background-repeat: no-repeat;
  background-position: center left;
}

.wptixon-post .blog-post-meta{
	list-style: none;
	margin: 0;
	padding: 0;
}

.wptixon-post .blog-post-meta li{
	display: inline-block;
	float: left;
	margin-right: 20px;
	color: #666;
}

.wptixon-post .blog-post-meta li a{
	color: #666;
}
.wptixon-post .content-item-title{
	margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #38434a;
}

.wptixon-post .content-item-title a{
	color: #38434a;
}

.wptixon-single-post .tixon-blog-title {
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: solid 1px #e9eaed;
}
/*=====================================
* =========== Blog Page ===============
=======================================*/

.entry-blog ul.blog-post-meta {
    /*margin-top: 60px;*/
    padding: 0;
}

.entry-header h2.entry-title.blog-entry-title a {
    font-size: 30px;
    color: #000;
    margin: 0;
    padding: 0;
}

.entry-blog ul li.meta-date {
    list-style: none;
}

.entry-blog .img-author, .blog-post-meta .meta-date .img-author{
    padding-right: 10px;
}
.entry-blog .img-author img, .blog-post-meta .meta-date .img-author img{
    background-color: rgb(243, 82, 90);
    border-radius: 50%;
    width: 29px;
    height: 29px;
}
.blog-post-meta .meta-date {
    font-size: 14px;
    color: #000;
}
.blog-post-meta .meta-date a {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.site-content .entry-content-border{
    background-color: rgba(32, 32, 32, .051);
    height: 1px;
    margin-bottom: 60px;
    width: 100%;
}

.entry-summary .wrap-btn-style a.btn-style {
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
    color: #000;
    float: left;
}
.entry-summary .wrap-btn-style a.btn-style:hover {
    color: #d9d9d9 ;
}

.entry-summary p.meta-comment {
    float: right;
    padding-left: 20px;
    padding-top: 18px;
    font-size: 14px;
    margin-top: 18px;
    letter-spacing: 3px;
}
.entry-summary p.view-count {
    float: right;
    padding-top: 10px;
    font-size: 14px;
    margin-top: 0;
    letter-spacing: 3px;
    padding-left: 20px;
}
.entry-summary p.view-count i{
    color: #ff5300;
}

.single.single-post .entry-summary p.view-count{
  padding-top: 24px;
}

/* Blog Pagination... */
.themeum-pagination {
    text-align: center;
}

ul.page-numbers {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.themeum-pagination .page-numbers>li {
    list-style: none;
    float: left;
    line-height: 1;
}


.wptixon-latest-post{
  background-color: #fff;
}
.wptixon-latest-post .tixon-blog-title{
  padding: 30px;
}


.post-navigation .single-next a, .post-navigation .single-pre a{
    font-size: 12px;
    font-weight: bold;
}

.social-activities {
    margin-top: 65px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
}
.social-activities a {
    color: #b2b2b2;
}
.social-share-wrap{}
.social-share-wrap ul{
    margin: 0;
    padding: 0;
}
.social-share-wrap ul li{
    list-style: none;
    float: left;
    margin: 0;
    padding: 6px 18px;
    border-radius: 4px;
    margin-right: 12px;
    margin-top: 30px;
}

.social-share-wrap ul li a, .social-share-wrap ul li a:hover{
    color: #fff;
    letter-spacing: 1px;
}

.social-share-wrap ul li:nth-child(1) {
    background: #1b619d;
}
.social-share-wrap ul li:nth-child(2) {
    background: #00c6f6;
}
.social-share-wrap ul li:nth-child(3) {
    background: #fd2519;
}
.social-share-wrap ul li:nth-child(4) {
    background: #C92228;
}
.social-share-wrap ul li:nth-child(5) {
    background: #0077B5;
}

.post-navigation .single-pre .previous-post a{
    padding-left: 8px;
    text-transform: uppercase;
    color: #000;
}
.post-navigation .single-next .next-post a {
    padding-right: 8px;
    text-transform: uppercase;
    color: #000;
    float: left;
}
.post-navigation .single-pre .previous-post, .post-navigation .single-next .next-post{
    color: #ff5300;
}


.post-navigation .blog-post-review-content {
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(32, 32, 32, .051);
    padding-bottom: 40px;
}

.post-navigation .blog-post-review-content .blog-post-review-pre {
    width: 50%;
    float: left;
    position: relative;
}

.post-navigation .blog-post-review-content .blog-post-review-next {
    text-align: right;
    float: right;
    width: 50%;
}

.blog-post-review-content .blog-post-review-pre img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 3px;
}
.post-navigation .blog-post-review-content .blog-post-review-pre a{
	display: inline-block;
    padding: 6px 17px;
    color: #000;
    font-weight: bold;
}
.blog-post-review-content .blog-post-review-next img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 3px;
    float: right;
}
.blog-post-review-content .previous-post,
.blog-post-review-content .next-post{
	font-weight: 400;
}

.post-navigation .blog-post-review-content .blog-post-review-next a{
	display: inline-block;
    padding: 6px 17px;
    font-weight: bold;
    color: #000
}

.comments-area {
    margin-bottom: 150px;
    color: #000;
}
.comments-area .comments-title{
    color: #000
}
.comments-area .comment-list>li{
    list-style: none;
}
.comments-area .comment-list>li img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.comments-area .comments-title{
        margin: 0;
    padding: 0 16px 30px 0;
}

.comments-area ul>li ul>li{
    list-style: none;
    margin-top: 40px
}

.comment-context {
    font-size: 15px;
}

.comment-context .comment-head span.comment-author {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    width: 100%;
    float: none;
    padding-right: 12px;
}

.comment-context .comment-content {
    padding-top: 15px;
    color: #000;
}

div#respond h3, #respond a{
    color: #000;
}


/*=========================================
*=======   Widget Settings    ============
*=======================================*/

.widget-blog-posts-section .media-left,
.widget-blog-posts-section .media>.pull-left {
  padding-right: 15px;
}

.widget-blog-posts-section .entry-title {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.widget-blog-posts-section .entry-title  a {
  color: #000;
}

.widget-blog-posts-section .media .pull-left img {
  margin-bottom: 16px;
  height: 54px;
    width: 54px;
    border-radius: 50%;
}

.widget-blog-posts-section .entry-date {
  font-size: 14px;
}

.widget-popular-news-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget.widget_themeum_popular_posts_widget {
  padding: 0;
  margin: 0;
}

.widget{
  word-break: break-word;
}

.widget_recent_comments a{
  word-break: break-word;
}

.search-no-results #searchform {
  position: relative;
}

.search-no-results #searchform .btn-search {
  position: absolute;
  right: 0;
  padding: 14px 20px;
  top:0;
}

.widget select{
  width: 100%;
  margin: 0;
  background: #fff;
  padding: 20px;
  border: 1px solid #f2f2f2;
  line-height: 40px;
  height: 40px;
  border-radius: 0;
  color: #333;
}

.textwidget img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form-control{
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #f2f2f2;
}

#sidebar .widget{
  margin-bottom: 40px;
  padding: 0;

}

.widget-area .widget:last-child{
  margin-bottom: 0px;
}


#sidebar h3.widget_title {
  font-size: 18px;
  margin: 0 0 15px;
  font-weight: 600;
  line-height: normal;
  color: #384351;
}


#sidebar .themeum-title .icon-bar {
  background: #000;
}

.widget.widget_archive label {
  font-weight: 400;
}

aside.widget-area .themeum-title{
  margin-bottom: 30px;
}

.widget-popular-news a {
  color: #555;
}

.widget-popular-news a:hover {
  color:#000;
}

.widget-popular-news .media>.pull-left {
  padding-right: 15px;
}

.widget_title{
  margin-top: 0;
  margin-bottom: 0;
}

.widget .tagcloud{
  display: block;
}

.widget .tagcloud a{
    display: inline-block;
    color: #777;
    padding: 2px 10px;
    margin: 0 2px 5px;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    font-size: 14px !important;
    border: 1px solid #f5f5f5;
}
.widget .tagcloud a:hover{
  color: #000;
}

.widget >ul{
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  list-style: none;
}

.widget ul.children{
  list-style: none;
  padding-left: 10px;
}

#sidebar .widget ul.children li:last-child {
  border-bottom: none;
}

#sidebar .widget ul li {
  padding: 5px 0;
  color: #000
}

.widget ul > li:last-child{
  border-bottom:none;
}

.widget.widget_categories ul li{
  text-transform: capitalize;
}

.widget_nav_menu ul{
  padding: 0px;
}
.widget_nav_menu ul li{
  list-style:none;
}

.widget_nav_menu ul.menu .sub-menu li:first-child {
  border-bottom: none;
}




.sidebar .widget_categories ul>li>a {
  padding-right: 82%;
}
.widget ul  li:nth-child() a {
  padding-top: 0;
}

.widget ul  li:last-child a {
  padding-bottom: 0;
}

.widget.widget_recent_comments ul li{
  padding-top: 5px;
  padding-bottom: 5px;
  word-break: break-word;
}

.widget.widget_rss ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-word;
}

.widget.widget_recent_comments ul li a{
  color: #38434a;
  padding: 0;
  border-left: 0 none;
}

.widget ul li a{
  color: #38434a;
}

.widget.widget_nav_menu ul.sub-menu{
  padding-left: 20px;
}

#sidebar  .widget.widget_nav_menu ul.sub-menu li:last-child {
  border-bottom: none;
}

.widget_text .textwidget{
  padding: 0;
}

.widget.widget_rss .widget_title a{
  color: #222;
}

.widget.widget_rss ul li a{
  border: 0 none;
  padding: 0;
}

.widget.widget_rss a:hover,
.widget.widget_recent_comments a:hover{
  border-left: 0px;
  text-decoration: underline;
}

.widget.widget_search #searchform{
  position: relative;
  border: 1px solid #eee;
}

.widget.widget_search #searchform input {
  height: 50px;
  border: none;
  box-shadow: none;
  font-weight: 300;
  padding: 0 20px;
  margin: 0;
  background: none;
}

.widget.widget_search #searchform .btn-search {
  height: 50px;
  line-height: 50px;
}

.widget.widget_search #searchform i {
  position: absolute;
  right: 15px;
  top: 0px;
}

.widget.widget_search #searchform .btn-search i {
  font-size: 16px;
  line-height: 50px;
}

.widget.widget_search .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  padding: 23px;
  border-radius: 0;
  color: #fff;
  transition: 300ms;
  -webkit-transition: 300ms;
}

.widget.widget_search .btn-search:hover {
  color: rgba(255,255,255,.7);
}


#sidebar #themeum_social_share_widget-2 ul>li{
    float: left;
    padding-right: 15px;
}
#sidebar #themeum_social_share_widget-2 ul>li a:hover{
   color: #00aeef;
}


.breadcrumb{
	background-color: transparent;
	text-align: right;
	color: #000;
}

.breadcrumb a{
	color: #000;
}

.common-menu-wrap .nav > li > ul li.mega-child > a{
  font-weight: 700;
  color: #fff;
  padding-top: 23px;
}

.products .tixon-product-image{
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}

.products .tixon-product-image .woocommerce-LoopProduct-link::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.products .product:hover .tixon-product-image .woocommerce-LoopProduct-link::after{
  opacity: 0.9;
}
.products .tixon-product-image img{
  margin-bottom: 0 !important;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.products .product:hover .tixon-product-image img{
  -webkit-transform: scale3d(1.15, 1.15, 1);
  -ms-transform: scale3d(1.15, 1.15, 1);
  -o-transform: scale3d(1.15, 1.15, 1);
  transform: scale3d(1.15, 1.15, 1);
}

.woocommerce ul.products li.product .button.add_to_cart_button,
.woocommerce ul.products li.product .added_to_cart{
  text-decoration: none;
  overflow: visible;
  padding: .618em 1.2em;
  border-radius: 35px;
  display: inline-block;
  line-height: inherit;
  background-color: #ffffff;
  border-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  z-index: 99;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.woocommerce ul.products li.product:hover .button.add_to_cart_button,
.woocommerce ul.products li.product:hover .added_to_cart{
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 1;
}

.woocommerce ul.products li.product:hover .button.add_to_cart_button.added{
  opacity: 0;
}
.woocommerce ul.products li.product .onsale{
  z-index: 999;
}
.wptixon-index-post{
  margin-bottom: 50px;
}
@media (max-width: 768px){
  .post-navigation .blog-post-review-content .blog-post-review-pre {
      width: 100%;
      text-align: center;
  }

  .blog-post-review-content .blog-post-review-pre img,
  .blog-post-review-content .blog-post-review-next img{
    float: none;
    display: inline-block;
  }

  .post-navigation .blog-post-review-content .blog-post-review-next {
      width: 100%;
      text-align: center;
  }
}


@media (min-width: 768px) {
  .common-menu-wrap .nav>li.has-megasub > ul.megamenu {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .common-menu-wrap .nav>li.has-megasub > ul.megamenu {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .common-menu-wrap .nav>li.has-megasub > ul.megamenu {
    width: 1170px;
  }
}