


.social-share, .copy-wrapper{
	padding-top: 2px;
}


/*demo-four*/
.demo-four .mc4wp-form-fields input[type="email"] {
    background-color: rgb(43, 43, 43);
    border: none;
    width: 65%;
    padding: 13px;
    float: left;
    border-radius: 30px;
}
.demo-four .mc4wp-form-fields input[type=submit] {
    width: 28%;
    padding: 13px;
    background: #fff;
    border: none;
    color: #222;
    font-weight: 700;
    border-radius: 30px !important;
    margin-left: -4px;
    text-transform: uppercase;
}

.demo-four-contact .contact-submit input[type=submit] {
    border-radius: 30px !important;
}


.feature-box-style {

    padding: 145px 20px;
    height: 310px;
    transition: all 0.4s ease;
}
.feature-box-style .content-title{
    margin-top: 15px !important;
    transition: all 0.4s ease;
}
.feature-box-style .content-button a{
    margin-top: 60px;
    border: 1px solid;
    text-decoration: none;
    opacity: 0;
    transition: all 0.4s ease;
}
.feature-box-style:hover{
    background: #f3525a;
    z-index: 99999;
    height: 330;
    bottom: 0;
}
.feature-box-style:hover .content-button a{
    opacity: 1;
}

.feature-box-style .content-icon{
    transition: all 0.4s ease;
}
.feature-box-style:hover .content-icon{
    margin-top: -35px;
}
body.kc-css-system .kc-css-563391 .kc_button{
    text-orientation: none !important;
}

.themeum-testimonial-carousel2{
    padding-bottom: 60px;
}
.themeum-testimonial-carousel2 .owl-controls .owl-nav {
    margin-top: 60px;
    position: absolute;
    width: 100%;
}

.themeum-testimonial-carousel2 .owl-controls .owl-nav .owl-prev {
    float: right;
    display: inline-block;
    width: 50%;
    padding-left: 10px;
}
.themeum-testimonial-carousel2 .owl-controls .owl-nav .owl-prev i{
    width: 16px;
}
.themeum-testimonial-carousel2 .owl-controls .owl-nav .owl-next, .themeum-testimonial-carousel2 .owl-controls .owl-nav .owl-prev {
    font-size: 16px;
    color: #e1e1e1;
}





/*=================================
*=======    Coming Soon    =======
*================================= */
html {
  width: 100%;
  height: 100%;
}

#tixon-comingsoon .comingsoon-footer-copyright{
    color: #000;
    margin: 70px 0 10px 0;
}

.page-template-coming-soon  {
  width: 100%;
  height: 100%;
}

.subnewslatter  {
  margin-left: -95px !important;
  height: 50px !important;
  width: 100px;
  background: #009dd6 !important;
  margin:0;
  padding: 0;
}

#tixon-comingsoon {
    text-align: left;
    padding-left: 62px;
}

.coming-soon-logo{
  margin-top: 0px;
}

.comingsoon-content .comingsoon-title{
    font-size: 92px;
    font-weight: 100;
    line-height: 110px;
    word-break: break-word;
}

.coming-soon-newslatter{
    display: inline-block;
    color: #555;
    font-size: 16px;
}
.inputnewslatter{
  width: 405px !important;
  float: left;
}
.subnewslatter{
  margin-top: inherit !important;
}

.comingsoon{
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.comingsoon-wrap {
  width: 100%;
  height: 100%;
  display: table;
}
.comingsoon-content {
  vertical-align: middle;
  display: table-cell;
  background: #fff;
  padding: 110px 50px 30px 50px;
}

#comingsoon-countdown .countdown-amount{
    font-size: 48px;
    font-weight: 400;
    display: block;
}
#comingsoon-countdown .countdown-period{
    font-size: 14px;
    font-weight: 400;
    color: #666;
    line-height: 50px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.comingsoon .sub-page-header{
  font-size: 24px;
  font-weight: 700;
}

.comingsoon .soon-page-header {
  font-size: 62px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
}

.countdown-days{
  color:#000 !important;
}
.countdown-hours{
  color:#000 !important;
}
.countdown-minutes{
  color:#000 !important;
}
.countdown-seconds{
  color:#000 !important;
}

.countdown-section {
  display: inline-block;
  padding: 65px 0 20px 0;
  position: relative;
  margin-right: 50px;
}

.comingsoon .days,
.comingsoon .hours,
.comingsoon .minutes,
.comingsoon .seconds {
  display: block;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 700;
}

p.comingsoon-message-desc{
  font-size: 24px;
  font-weight: 700;
}
.comingsoon > div {
    display: table;
    vertical-align: middle;
    height: 100%;
    background: #fff;
    margin: 60px auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.social-share ul{
  margin: 0;
  padding: 0;
}
.comingsoon .social-share ul li {
  display: inline-block;
  margin: 0 15px;
}

.comingsoon-footer {
    margin-top: 24px;
}

.comingsoon .social-share li a {
    color: #38434a;
    font-size: 18px;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}
.comingsoon .social-share li a:hover {
  color: #005fb2;
}

.comingsoon-footer .copyright-text {
  font-size: 14px;
  color: #999999;
  margin: 35px 0 0;
}

.comingsoon .mc4wp-form-fields input[type="email"] {
    background-color: #fff;
    border: none;
    width: 70%;
    padding: 13px;
    float: left;
    border-radius: 0;
}

.comingsoon .mc4wp-form-fields input[type=submit] {
    width: 30%;
    padding: 13px;
    background: #242424;
    border: none;
    color: #222;
    font-weight: 400;
    border-radius: 0;
    margin-left: -4px;
    text-transform: uppercase;
}

.comingsoon .mc4wp-form-fields {
    margin-top: 25px;
}



/*=================================
*=======    404 page   =======
*================================= */
.error-page-inner{
  width: 100%;
  height: 100%;
  display: table;
  background: rgba(0, 0, 0, 0) url("images/404-bg.png") no-repeat scroll center top/cover;

}

.error-code{
  background: rgba(0, 0, 0, 0) url(images/404.png) no-repeat scroll center top;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-size: 102px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 158px;
  width: 365px;
}
.error-message-title{
    color: #555;
    font-size: 106px;
    padding: 35px 0 15px;
    font-weight: 600;
}
.error-page-inner >div {
  vertical-align: middle;
  display: table-cell;
}
.error-msg{
  text-align: right;

}
.logo-top{

}
.error-page-inner .error-msg .logo-top img{
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body.error404 {
  background-color: #444;
}
.error-message{
  color: #555;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 30px;
  padding-bottom: 35px;
  margin: 0;
}
.error-page-inner .btn-primary{
  font-size: 18px;
  background: #00aeef none repeat scroll 0 0;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px 20px;
}
.error-page-inner a.btn.btn-primary.btn-lg{
  font-size: 18px;
  line-height: 50px;
  padding: 0 30px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}
.error-page-inner a.btn.btn-primary.btn-lg:hover {
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
}

.error-page-inner .error-msg a{
    letter-spacing: 2px;
    padding: 14px 18px;
    transition: color 400ms ease 0s, background-color 400ms ease 0s, border-color 400ms ease 0s;
    font-weight: normal;
    font-size: 16px;
}

.info-wrapper{
    text-align: center;
    background: #fff;
    margin-top: 100px;
    padding: 100px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.info-wrapper a.white {
    border-radius: 30px;
    padding: 12px 20px;
    color: #000 !important;
    background: #fff;
    border-width: 3px;
    border-style: solid;
}
.blog-listing{
  float: left;
}

.show-overflow.vc_row{
  overflow: visible !important;
}
