/* ==========================================================================
responsive
========================================================================== */

@media (min-width: 980px) and (max-width: 1200px) { 
  .common-menu .common-menu-wrap .nav>li>a {
    font-size: 12px;
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1000px){
  .admin-bar .header-borderimage #mobile-menu, 
  .admin-bar .header-solid #mobile-menu {
    top: 92px;
  }
  .main-menu-wrap .navbar-toggle {
    margin-top: 5px;
  }
  .navbar-collapse.collapse {
    display: none !important;
    overflow: hidden !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .visible-sm {
    display: block!important;
  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0
  }
  #mobile-menu ul {
    padding: 0;
  }
  .header-borderimage #mobile-menu, 
  .header-solid #mobile-menu {
    top: 80px;
  }
  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 767px) {
  .site-header.header {
    padding-left: 20px;
    padding-right: 20px;
  }
  #mobile-menu ul {
    padding: 0;
  }
  .header-borderimage #mobile-menu, 
  .header-solid #mobile-menu {
      top: 70px;
  }  
  .bottom-widget h3{
    margin-bottom: 25px;
  }
  .bottom-widget{
    width: 100%;
  }
  .main-menu-wrap .navbar-toggle {
    margin-top: 8px;
  }
  .mc4wp-form-fields input[type="email"]{
    display: block;
    width: 100%;
    float: none;
  }
  .mc4wp-form-fields input[type=submit]{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .themeum-google-map-wrap .map-address {
    padding: 30px 35px;
    top: 18%;
    left: 8%;
  }
 .bottom-widget{
    width: 100%;
  }
  .demo-four .mc4wp-form-fields input[type="email"] {
    margin-right: 20px;
  }

}

@media (min-width: 768px){
  .navbar-nav {
    float: none;
    margin: 0;
  }
  .navbar-nav>li {
    float: none;
  }
}

@media (max-width: 489px) {
  .title-number-wrap {
      padding-left: 0;
    }

    .social-share, .copy-wrapper {
      margin-bottom: 15px;
      text-align: center;
    }
    .social-share, .copy-wrapper {
      padding-top: 8px;
      text-align: center !important;
    }
}
